.counter {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter__text {
    font-family: Consolas, sans-serif;
    font-size: 128px;
    color: white;
    margin-right: 12px;
}

.counter__button {
    padding: 48px;
    margin-right: 12px;
    border: 1px solid #fff;
    color: #ffffff;
    font-family: Consolas, sans-serif;
}

.counter__button:hover {
    cursor: pointer;
    background-color: #0de8e8;
}
