* {
    background-color: #a077f3;
}

.topText {
    font-family: Consolas, 'sans-serif';
    font-size: 26px;
    color: white;
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menuButton {
    text-decoration: none;
    cursor: pointer;
    margin-top: 48px;
    display: flex;
    justify-content: center;
    width: 200px;
    font-size: 24px;
    border: 2px solid white;
}

.menuButton:hover .menuText {
    background-color: #0de8e8;
    color: black;
}
.menuButton:hover {
    border-color: black;
    background-color: #0de8e8;
}

.menuText {
    font-family: Consolas, 'sans-serif';
    color: white;
}

.menuImg {
    margin-top: 50px;
    width: 200px;
}